body {
  background-image: linear-gradient(to right, #FDE0F5, #D2E0F6);;
}

.nv {
  background: #F2ECF6;
}

.navbar-brand, .navbar-brand:focus, .navbar-brand:active, .navbar-brand:hover {
  font-family: "Yeseva One";
  background: #F2ECF6 !important;
  text-shadow: 
  2px 2px white;
  cursor: default;
}

.c7C459C {
  color: #7C459C;
}

.c9A6CB4 {
  color: #9A6CB4;
}

.cB690CB {
  color: #B690CB;
}

.active1 {
  background: #E6D9ED;
}

li, .epilogue {
  font-family: "Epilogue";
}

.nav {
  display: flex;
  align-items: center;
}

.form-control, .form-control::placeholder {
  color: #A982C4;
  border-color: #B690CB;
  box-shadow: none;
}

.form-control:focus {
  color: #7C459C;
  border-color: #B690CB;
  box-shadow: 
    0 0 5px #9A6CB4; 
}

.push {
  margin-left:  1185px;
  margin-right: 10px;
}

.btn {
  color: white !important;
  border: 1px solid #7C459C !important;
  outline: none !important;
  background: #7C459C !important;
  box-shadow: 
    5px 2.5px 7.5px rgba(0,0,0,0.25),
   -5px -2.5px 7.5px rgba(255,255,255, 0.5);
}

.btn:active, .btn:hover {
  color: #7C459C !important;
  outline: none !important;
  border-color: #7C459C !important;
  background: white !important;
  box-shadow: 
    0 0 5px #9A6CB4; 
}

a:focus, a:hover {
  background: #E6D9ED !important;
  color: #7C459C !important;
}

.item {
  display: flex;
  justify-content: space-between;
}

.sub-item {
  height: 250px;
  width: 168.75px;
  background: #F2ECF6;
  display: inline-block;
  border-radius: 5px;
  background-color: #F2ECF6;
  box-shadow: 
    5px 5px 15px rgb(0,0,0,0.5),
   -5px -5px 15px rgba(255,255,255, 0.5);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 
    5px 5px 15px rgb(0,0,0,0.5),
   -5px -5px 15px rgba(255,255,255, 0.5);
}

.ml {
  margin-left: 30px;
}

p {
  font-family: "Playfair Display";
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 
    0 0 10px #A37CB9,
    0 0 20px #CAB4D7;
}

.footer-copyright {
  margin-top: 20px;
  padding-top: 12.5px;
  padding-bottom:12.5px;
  background: #F2ECF6;
}

hr {
  background: #965DB7;
  border-color: #965DB7;
  margin-top: -10px;
  width: 1840.5px;
  box-shadow: 0 0 5px 0 #965DB7;
  margin-left: 30.1px;
}
